#buttonPosition{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%,50%);

   
}

#button{
    width: 4rem;
    height: 2rem;
}

#counterPosition{
    position: absolute;
    top: 50%;
    left: 40%;
    
}